body{
    font-family: "Nunito", Arial, sans-serif;
    background: #f8f8f8;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #F8F8F8;
}
.bg-gr{
    background-color: #f8f8f8;
}
.hero-wrap{
    min-height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}
.navbar-brand span{
    color: #fff;
    display: inline-block;
    line-height: 1.1
}
.w-md-100{
    width: 100%;
}
/* font color  */
.text-light1{
    color: #a1a1a1;
}
.text-gray{
    color: #656565 !important;
}
.text-orange{
    color: #C5A880;
}
.explicit-color::placeholder {
  /* use the same color as input element to avoid the browser set default color */
  color: #656565 !important;
}
.slider-text{
    height: 100vh;
    min-height: 700px;
}
/* background color  */
.bg-yellow{
    background-color: #C5A880 !important;
}
.bg-orange{
background-color: #C5A880;
}

.old-standard-tt-bold {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
}
.nunito-regular{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
}
.ftc-section{
    padding: 8em 0;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}
.form-wrap{
    position: relative;
    overflow: hidden;
    background-color: #222222;
}
.form-group{
    position: relative;
    margin-bottom: 0;
    width: 100%;
}

.pl-4{
    padding-left: 24px;
}
input {
  margin-top: 0.5rem;
}

input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: red;
}
input {
  font-weight: bold;
  color: green;
}
.box:hover{
    background-color: #222222;
    color: white;
}
.box{
    transition: all 0.5s;
}
.box p{
    color: #999999;
}
.box h2:hover{
    color: white;

}
.box:hover img{
    background-color: white;
}
.box2 h1{
    line-height: 90px;
}
.box2 p{
    line-height: 30px;
    margin-bottom: 20px;
    color: #999999;
}
.p2{
    color: #C5A880;
}
.p3{
    color: #C5A880;
    font-size: 50px;
    text-align: center ;
}
.p4{
    color: #C5A880;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
}
.box4{
    width: 200px;
    height: 200px;
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
  transition: all 0.5s;
    box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.10);
}
.box4:hover{
    background-color: #C5A880;
    color: white;
}
@media(max-width:767px){
    .box4{
        width: 100%;
        border-radius: 0;
    }
}
.card-text{
    line-height: 30px;
}
.room-wrap{
    background: #fff;
    margin-bottom: 60px;
    -webkit-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.04);
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.room-wrap .box{
    position: relative;
    transition: all 0.5s;
}
.box a:hover{
    background-color: transparent;
}
.pricing-entry{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid white;
    padding: 30px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;

}
.pricing-entry:hover{
    background-color: #222222;
    color: white;
}
.pricing-entry .desc {
    width: calc(100% - 80px);
}
.ps-3{
    padding-left: 1 rem !important;
}
.pe-3{
    margin-right: 1 rem !important;
}
.pricing-entry .text {
    width: 100%;
    position: relative;
    z-index: 0;
}

.pricing-entry .text .price {
    width: 80px;
    color: #c5a880;
    /* text-align: right; */
    font-size: 20px;
    float: right;
}
@media(max-width:1150px){
   .img-1{
     height: 300px;
} 
}
.name{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 7px;
    color: #222222;
}
.box-1{
    background-color: white;
}
.box-1 p{
    line-height: 32px;
}
.text-gray-1{
    color: #B2B2B2;
}
.h-2{
    height: 250px;
}