body{
    font-family: "Nunito", Arial, sans-serif;
    background: #f8f8f8;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #F8F8F8;
}
.hero-wrap{
    min-height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}
.navbar-brand span{
    color: #fff;
    display: inline-block;
    line-height: 1.1
}
.w-md-100{
    width: 100%;
}
.text-light1{
    color: #a1a1a1;
}
.slider-text{
    height: 100vh;
    min-height: 700px;
}
.bg-yellow{
    background-color: #C5A880 !important;
}

.old-standard-tt-bold {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
}
.nunito-regular{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
}
.ftc-section{
    padding: 8em 0;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}
.form-wrap{
    position: relative;
    overflow: hidden;
    background-color: #222222;
}
.form-group{
    position: relative;
    margin-bottom: 0;
    width: 100%;
}
.text-gray{
    color: #656565 !important;
}
.pl-4{
    padding-left: 24px;
}
input {
  margin-top: 0.5rem;
}

input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: red;
}
.text-orange{
    color: #C5A880;
}
.bg-orange{
background-color: #C5A880;
}
input {
  font-weight: bold;
  color: green;
}

.explicit-color::placeholder {
  /* use the same color as input element to avoid the browser set default color */
  color: #656565 !important;
}
.box:hover{
    background-color: #222222;
    color: white;
}
.box{
    transition: all 0.5s;
}
.box p{
    color: #999999;
}
.box h2:hover{
    color: white;

}
.box:hover img{
    background-color: white;
}
.box2 h1{
    line-height: 90px;
}
.box2 p{
    line-height: 30px;
    margin-bottom: 20px;
    color: #999999;
}
.p2{
    color: #C5A880;
}
.box4{
    width: 200px;
    height: 200px;
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
  transition: all 0.5s;
    box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.10);
}
.box4:hover{
    background-color: #C5A880;
    color: white;
}
@media(max-width:767px){
    .box4{
        width: 100%;
        border-radius: 0;
    }
}